# Better Unity .gitignore
# This will only upload specific Git files and three crucial Unity directories.
# It will also ignore Mac-generated meta files.
/*
/*/
# Keep these Git files
!.gitignore
!.gitattributes
!README.md
#Keep these Unity directories
!/Assets/
!/ProjectSettings/
!/GameBuilds/
# Mac-generated meta files
*.DS_Store

